@using System.ComponentModel.DataAnnotations

@inherits LayoutComponentBase

<FluentLayout>
    <FluentHeader Style="background-color: #1A1F71;">
        <FluentStack Orientation="Orientation.Horizontal" Style="justify-content: space-between; align-items: center;">
            <div>Realtime Apps</div>
        </FluentStack>
    </FluentHeader>
    <FluentBodyContent>
        @Body
    </FluentBodyContent>
</FluentLayout>

<FluentToastProvider />
